<section class="section completed-work__section">
    <div class="container">
        <h2 class="title completed-work__title">3000+ Completed Work <br> Which WE have Successfully Done</h2>
        
        <ul class="completed-work">
            <li class="completed-work__item" >
                <p class="completed-work__figures" >980</p>
                <p class="completed-work__text" >Project</p>
            </li>
            <li class="completed-work__item" >
                <p class="completed-work__figures" >520</p>
                <p class="completed-work__text" >Happy Client</p>
            </li>
            <li class="completed-work__item" >
                <p class="completed-work__figures" >330</p>
                <p class="completed-work__text" >Winners</p>
            </li>
            <li class="completed-work__item" >
                <p class="completed-work__figures" >120</p>
                <p class="completed-work__text" >Recoment</p>
            </li>
        </ul>

    </div>
    
    <span class="section-icon--left completed-work__section-icon--left"></span>

</section>