<section class="section footer__section">
    <div class="container footer__container">
        <a href="" class="logo footer-logo">
            <img class="footer-logo__image" src="./images/logo.png" alt="company logo">
            <p>But i must explain to you all this mistaken
            idea of dencouncing pleasure.</p>
        </a>

        <div class="footer-list-wrapper">

            <strong class="footer-title">Quick Links</strong>
            
            <ul class="footer-list">
                <li>
                    <a class="footer-list__link" href="">About Our Company</a>
                </li>
                <li>
                    <a class="footer-list__link" href="">Services WE provide</a>
                </li>
                <li>
                    <a class="footer-list__link" href="">Career & Opportunity</a>
                </li>
                <li>
                    <a class="footer-list__link" href="">Privacy & policy</a>
                </li>
                <li>
                    <a class="footer-list__link" href="">Contact US</a>
                </li>
            </ul>

        </div>

        
        <div class="footer-list-wrapper">

            <strong class="footer-title">Company</strong>
            
            <ul class="footer-list" >
                <li>
                    <a class="footer-list__link" href="">About Company</a>
                </li>
                <li>
                    <a class="footer-list__link" href="">Our Testimonials</a>
                </li>
                <li>
                    <a class="footer-list__link" href="">Latest News</a>
                </li>
                <li>
                    <a class="footer-list__link" href="">Our misson</a>
                </li>
                <li>
                    <a class="footer-list__link" href="">Get a free Quot</a>
                </li>
            </ul>
        </div>
        
        <div class="footer-list-wrapper">
            <strong class="footer-title" >Contact us</strong>
            
            <address>
                <ul class="footer-list footer-list--end" >
                    <li>
                        <a class="footer-list__link" href="https://bit.ly/3LX9FTC">Sagrada Familia, Herba <br>Street Front USA</a>
                    </li>
                    <li>
                        <a class="footer-list__link" href="mailto:brandoxide@gmail.com">brandoxide@gmail.com</a>
                    </li>
                    <li>
                        <a class="footer-list__link" href="tel:+002568423591">002-568423591</a>
                    </li>
            
                </ul>
            
            </address>
        </div>
        

        <div class="footer__social-list">
            <strong class="footer-title" >Follow Us</strong>
            
            <ul class="social-list" >
                <li class="social-list__item">
                    <a class="social-list__btn" href="">
                        <svg class="social-list__icon" width="20" height="20">
                            <use href="/images/icon/icons.svg#facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-list__item">
                    <a class="social-list__btn" href="">
                        <svg class="social-list__icon" width="20" height="20">
                            <use href="/images/icon/icons.svg#twitter"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-list__item">
                    <a class="social-list__btn" href="">
                        <svg class="social-list__icon" width="20" height="20">
                            <use href="/images/icon/icons.svg#instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-list__item">
                    <a class="social-list__btn" href="">
                        <svg class="social-list__icon" width="20" height="20">
                            <use href="/images/icon/icons.svg#linkedin"></use>
                        </svg>
                    </a>
                </li>
            
            </ul>
        </div>
        
      
    </div>
   
    <p class="footer-underline">Copyright&#64;2020 Brandoxide.all right reserved.</p>

</section>