<header class="container header-container">
<a class="logo header-logo" href="">
    <img src="./images/logo.png" alt="">
</a>

<ul class="nav-menu">
    <li class="nav-menu__item">
        <a class="nav-menu__link" href="">HOME</a>
    </li>
    <li class="nav-menu__item">
        <a class="nav-menu__link" href="">PROJECT</a>
    </li>
    <li class="nav-menu__item">
        <a class="nav-menu__link" href="">SERVICES</a>
    </li>
    <li class="nav-menu__item">
        <a class="nav-menu__link" href="">ABOUT</a>
    </li>
    <li class="nav-menu__item">
        <a class="nav-menu__link" href="">BLOG</a>
    </li>
    <li class="nav-menu__item">
        <a class="nav-menu__link" href="">SHOP</a>
    </li>
    <li class="nav-menu__item">
        <a class="nav-menu__link" href="">CONTACT</a>
    </li>
    
</ul>

<a class="header-btn" href="">Sign up</a>

</header>