
<section class="section hero__section">
    <div class="container hero__container">
        <div class="hero-wrapper">
            <p class="subtitle">MODERN INTERIOR</p>
            <h1 class="hero-title">Create Your Interior Design.</h1>
            <p class="section-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                veniam, quis nostrud exercitation.</p>
            <a class="btn" href="">CONTACT</a>
        
        </div>
        
        <div class="hero__image-wrapper image-wrapper">
        
            <img class="image-radius" src="./images/hero-image.jpg" alt="room-design">
        </div>
    </div>

    <span class="section-icon--left" ></span>
      
</section>

