<section class="section services-section">
    <div class="container">
        <p class="subtitle services-subtitle">WHAT WE DO</p>
        <h2 class="title">Our Service</h2>

        <button class="services-btn" >
            <svg class="services-btn__icon" >
                <use href="./images/icon/icons.svg#arrow-left"></use>
            </svg>
        </button>
        <button class="services-btn" >
            <svg class="services-btn__icon" >
                <use ></use>
            </svg>
        </button>
        
        <div class="services-wrapper">
            <div class="services-list">
                <svg class="services-list__icon">
                    <use href="./images/icon/icons.svg#image0_0_132"></use>
                </svg>
               
                <p class="services-list__title" >Interior Design</p>
                <p class="services-list__text" >Lorem ipsum dolor amet consectetur
                    adipiscing elit sed eiusmod tempor
                    incididunt ut labore.</p>
            </div>
            <div class="services-list">
                <svg class="services-list__icon">
                    <use href="./images/icon/icons.svg#image0_0_37"></use>
                </svg>

                <p class="services-list__title" >Architecture</p>
                <p class="services-list__text" >Lorem ipsum dolor amet consectetur
                    adipiscing elit sed eiusmod tempor
                    incididunt ut labore.</p>
            </div>
            <div class="services-list"> 
                <svg class="services-list__icon">
                    <use href="./images/icon/icons.svg#image0_0_133"></use>
                </svg>

                <p class="services-list__title" >Planning</p>
                <p class="services-list__text" >Lorem ipsum dolor amet consectetur
                    adipiscing elit sed eiusmod tempor
                    incididunt ut labore.</p>
            </div>
        </div>
               
    </div>
    <span class="section-icon--right"></span>
</section>