<section class="section services__section">
    <div class="container">
        <div class="services-title-wrapper">
            <div class="services-subtitle-wrapper">
                <p class="subtitle ">WHAT WE DO</p>
                <h2 id="services" class="title">Our Service</h2>

            </div>
                        
            <button class="gallery-btn">
                <svg class="gallery-btn__icon">
                    <use href="./images/icon/icons.svg#arrow-left"></use>
                </svg>
            </button>
            <button class="gallery-btn gallery-btn--end">
                <svg class="gallery-btn__icon">
                    <use href="./images/icon/icons.svg#arrow-right"></use>
                </svg>
            </button>

        </div>
        
        
        <div class="services-wrapper">
            <div class="services-list">
                <svg class="services-list__icon">
                    <use href="./images/icon/icons.svg#image0_0_132"></use>
                </svg>
               
                <p class="services-list__title" >Interior Design</p>
                <p class="services-list__text" >Lorem ipsum dolor amet consectetur
                    adipiscing elit sed eiusmod tempor
                    incididunt ut labore.</p>
            </div>
            <div class="services-list">
                <svg class="services-list__icon">
                    <use href="./images/icon/icons.svg#image0_0_37"></use>
                </svg>

                <p class="services-list__title" >Architecture</p>
                <p class="services-list__text" >Lorem ipsum dolor amet consectetur
                    adipiscing elit sed eiusmod tempor
                    incididunt ut labore.</p>
            </div>
            <div class="services-list"> 
                <svg class="services-list__icon">
                    <use href="./images/icon/icons.svg#image0_0_133"></use>
                </svg>

                <p class="services-list__title" >Planning</p>
                <p class="services-list__text" >Lorem ipsum dolor amet consectetur
                    adipiscing elit sed eiusmod tempor
                    incididunt ut labore.</p>
            </div>
        </div>
               
    </div>
    <span class="section-icon--right"></span>
</section>