<section class="section testimonials__section">
    <div class="container">
        <p class="subtitle subtitle--center">TESTIMONIALS</p>
        <h2 class="title testimonials__title">Client says about us</h2>

        <div class="btn-wrapper">
            <button class="gallery-btn">
                <svg class="gallery-btn__icon">
                    <use href="./images/icon/icons.svg#arrow-left"></use>
                </svg>
            </button>
            <button class="gallery-btn gallery-btn--end">
                <svg class="gallery-btn__icon">
                    <use href="./images/icon/icons.svg#arrow-right"></use>
                </svg>
            </button>
        </div>

        <div class="clients-wrapper" >
            <div class="clients" >
                <picture>
                    <source srcset="./images/louis_saville.webp 1x, ./images/louis_saville@2x.webp 2x" type="image/webp">
                    
                    <source srcset="./images/louis_saville.jpg 1x, ./images/louis_saville@2x.jpg 2x">

                    <img class="clients__image" src="./images/louis_saville.jpg" alt="foto clients louis saville">

                </picture>
                
                <div class="clients__description">
                    <p class="clients__title" >Louis Saville <span class="clients__title--font" >/CEO at Google inc</span></p>
                    <span class="clients__title-icon"></span>
                    
                    <p class="clients__text" >Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua.</p>

                </div>
               
            </div>

            <div class="clients" >
                <picture>
                    <source srcset="./images/rekha-varadwaz.webp 1x, ./images/rekha-varadwaz@2x.webp 2x" type="image/webp">
                    
                    <source srcset="./images/rekha-varadwaz.jpg 1x, ./images/rekha-varadwaz@2x.jpg 2x">

                    <img class="clients__image" src="./images/rekha-varadwaz.jpg" alt="foto clients rekha varadwaz">

                </picture>
                
                <div class="clients__description">
                    <p class="clients__title" >Rekha Varadwaz <span class="clients__title--font">/Manager at Nike inc</span></p>
                    <span class="clients__title-icon"></span>
                    <p class="clients__text" >Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua.</p>
                </div>
                
            </div>
        </div>


    </div>

    <span class="section-icon--right testimonials__section-icon--right"></span>

</section>