.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 142px;
    min-height: 42px;
   
    border-radius: 20px 0px;
    border: none;
    
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.56;
    text-align: center;
    
    color: var(--third-text-color);
            
    background-color: var(--accent-color);

    cursor: pointer;

}