.image-wrapper{
    position: relative;
    
    border: 2px solid #B0855B;
    box-sizing: border-box;
    border-radius: 140px 0px;

}

.image-radius {
    position: absolute;
    right: 34px;
    bottom: 32px;
    border-radius: 140px 0px;
}