.footer__section{
    padding-top: 92px;
    padding-bottom: 22px;
    background-color: var(--secondary-background-color);
}

.footer__container {
    display: flex;
}

.line {
    border: 1px solid #C4C4C4;
}
