.hero__section {
    
    padding-top: 32px;
    padding-bottom: 76px;
}

.hero__container {
    display: flex;
    align-items: center;
    
}

.hero-wrapper {
    width: 606px;
    
    
    margin-right: auto;
}

.hero-title {
    margin-bottom: 24px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 1.08;
    
    color: var(--secondary-text-color);

}

.hero__image-wrapper {
    width: 716px;
    height: 626px;
}


